root_VS2013_TemplateBase/programs/C#/Samples/WinAzure_sample/WSClientSL_sample/Service References/SbServiceReference/ServiceForSb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCountResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="returnValue" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll_DT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll_DTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAll_DTResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnValue" type="tns:ArrayOfShipper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfShipper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Shipper" nillable="true" type="tns:Shipper" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Shipper">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ShipperID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectAll_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAll_DSResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnValue" type="tns:ArrayOfShipper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll_DR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll_DRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAll_DRResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnValue" type="tns:ArrayOfShipper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll_DSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderSequence" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAll_DSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAll_DSQLResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnValue" type="tns:ArrayOfShipper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Select">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shipperID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="returnValue" type="tns:Shipper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="companyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="returnValue" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shipper" type="tns:Shipper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="returnValue" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="shipperID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="context" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="returnValue" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectCountSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCount" />
  </wsdl:message>
  <wsdl:message name="SelectCountSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCountResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DTSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll_DT" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DTSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAll_DTResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DSSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll_DS" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DSSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAll_DSResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DRSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll_DR" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DRSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAll_DRResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DSQLSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAll_DSQL" />
  </wsdl:message>
  <wsdl:message name="SelectAll_DSQLSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAll_DSQLResponse" />
  </wsdl:message>
  <wsdl:message name="SelectSoapIn">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="SelectSoapOut">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceForSbSoap">
    <wsdl:operation name="SelectCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SelectCount</wsdl:documentation>
      <wsdl:input message="tns:SelectCountSoapIn" />
      <wsdl:output message="tns:SelectCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DT">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SelectAll_DT</wsdl:documentation>
      <wsdl:input message="tns:SelectAll_DTSoapIn" />
      <wsdl:output message="tns:SelectAll_DTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SelectAll_DS</wsdl:documentation>
      <wsdl:input message="tns:SelectAll_DSSoapIn" />
      <wsdl:output message="tns:SelectAll_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SelectAll_DR</wsdl:documentation>
      <wsdl:input message="tns:SelectAll_DRSoapIn" />
      <wsdl:output message="tns:SelectAll_DRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DSQL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SelectAll_DSQL</wsdl:documentation>
      <wsdl:input message="tns:SelectAll_DSQLSoapIn" />
      <wsdl:output message="tns:SelectAll_DSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Select</wsdl:documentation>
      <wsdl:input message="tns:SelectSoapIn" />
      <wsdl:output message="tns:SelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insert</wsdl:documentation>
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update</wsdl:documentation>
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete</wsdl:documentation>
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceForSbSoap" type="tns:ServiceForSbSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectCount">
      <soap:operation soapAction="http://tempuri.org/SelectCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DT">
      <soap:operation soapAction="http://tempuri.org/SelectAll_DT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DS">
      <soap:operation soapAction="http://tempuri.org/SelectAll_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DR">
      <soap:operation soapAction="http://tempuri.org/SelectAll_DR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DSQL">
      <soap:operation soapAction="http://tempuri.org/SelectAll_DSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap:operation soapAction="http://tempuri.org/Select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceForSbSoap12" type="tns:ServiceForSbSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectCount">
      <soap12:operation soapAction="http://tempuri.org/SelectCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DT">
      <soap12:operation soapAction="http://tempuri.org/SelectAll_DT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DS">
      <soap12:operation soapAction="http://tempuri.org/SelectAll_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DR">
      <soap12:operation soapAction="http://tempuri.org/SelectAll_DR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll_DSQL">
      <soap12:operation soapAction="http://tempuri.org/SelectAll_DSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select">
      <soap12:operation soapAction="http://tempuri.org/Select" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceForSb">
    <wsdl:port name="ServiceForSbSoap" binding="tns:ServiceForSbSoap">
      <soap:address location="/WebService/ServiceForSb.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceForSbSoap12" binding="tns:ServiceForSbSoap12">
      <soap12:address location="/WebService/ServiceForSb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>