root_VS2012_TemplateBase/programs/C#/Samples/WS_sample/WSClient_sample/AuthServiceClient/Web References/ASPNETWebService/ServiceForAuth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetChallenge">
        <s:complexType />
      </s:element>
      <s:element name="GetChallengeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChallengeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="encUid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encPwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAuthTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAuthTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authTicket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateAuthTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateAuthTicketResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChallengeSoapIn">
    <wsdl:part name="parameters" element="tns:GetChallenge" />
  </wsdl:message>
  <wsdl:message name="GetChallengeSoapOut">
    <wsdl:part name="parameters" element="tns:GetChallengeResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthTicketSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthTicket" />
  </wsdl:message>
  <wsdl:message name="GetAuthTicketSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateAuthTicketSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateAuthTicket" />
  </wsdl:message>
  <wsdl:message name="ValidateAuthTicketSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateAuthTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceForAuthSoap">
    <wsdl:operation name="GetChallenge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authentication Service(GetChallenge)</wsdl:documentation>
      <wsdl:input message="tns:GetChallengeSoapIn" />
      <wsdl:output message="tns:GetChallengeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authentication Service(GetAuthTicket)</wsdl:documentation>
      <wsdl:input message="tns:GetAuthTicketSoapIn" />
      <wsdl:output message="tns:GetAuthTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authentication Service(ValidateAuthTicket)</wsdl:documentation>
      <wsdl:input message="tns:ValidateAuthTicketSoapIn" />
      <wsdl:output message="tns:ValidateAuthTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceForAuthSoap" type="tns:ServiceForAuthSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChallenge">
      <soap:operation soapAction="http://tempuri.org/GetChallenge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthTicket">
      <soap:operation soapAction="http://tempuri.org/GetAuthTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthTicket">
      <soap:operation soapAction="http://tempuri.org/ValidateAuthTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceForAuthSoap12" type="tns:ServiceForAuthSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChallenge">
      <soap12:operation soapAction="http://tempuri.org/GetChallenge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthTicket">
      <soap12:operation soapAction="http://tempuri.org/GetAuthTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateAuthTicket">
      <soap12:operation soapAction="http://tempuri.org/ValidateAuthTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceForAuth">
    <wsdl:port name="ServiceForAuthSoap" binding="tns:ServiceForAuthSoap">
      <soap:address location="http://localhost:8888/ASPNETWebService/ServiceForAuth.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceForAuthSoap12" binding="tns:ServiceForAuthSoap12">
      <soap12:address location="http://localhost:8888/ASPNETWebService/ServiceForAuth.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>